.searchTable {
  overflow-y: auto;
  height: calc(100vh - 80px - 128px - 32px - 16px);
  margin: 20px 10px 20px 0px;
  table {
    thead > tr {
      background-color: #ffffff;
      position: sticky;
      top: 0;
    }
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;

    th,
    td {
      width: 20%;
      box-sizing: border-box;
      padding: 10px;
      border-bottom: 1px solid #ddd;
      font-family: Roboto;
      font-size: 14px;
      letter-spacing: 0.17px;
      text-align: left;
      color: rgba(0, 0, 0, 0.87);
    }

    th {
      height: 56px;
      font-weight: 500;
      line-height: 20px;
      div {
        width: max-content;
        cursor: pointer;
        display: flex;
        align-items: center;
        svg {
          width: 20px;
          fill: #0000008f;
          visibility: hidden;
          @media (max-width: 900px) {
            width: 16px;
          }
          @media (max-width: 600px) {
            width: 12px;
          }
          @media (max-width: 400px) {
            width: 10px;
          }
        }
      }
      div:hover {
        svg {
          visibility: visible;
        }
      }
    }
    td {
      font-weight: 400;
      line-height: 20.02px;
    }
    tbody tr:hover {
      cursor: pointer;
      background: rgba(33, 150, 243, 0.04);
    }
    @media (max-width: 900px) {
      th,
      td {
        padding: 5px;
        font-size: 12px;
        text-align: left;
        color: rgba(0, 0, 0, 0.87);
        line-height: 16px;
      }
    }
    @media (max-width: 540px) {
      th,
      td {
        padding: 5px;
        font-size: 10px;
        text-align: left;
        line-height: 10px;
      }
    }
    @media (max-width: 480px) {
      th,
      td {
        text-align: left;
        padding: 3px 1px;
        font-size: 8px;
        line-height: 10px;
      }
    }
  }
  .loading {
    &:hover {
      tr {
        background-color: initial;
        color: initial;
      }
    }
    position: relative;
    width: 100%;
    height: calc(100vh - 80px - 128px - 124px);
    > tr:first-of-type {
      background-color: rgba(242, 242, 242, 1);
      position: absolute;
      border-radius: 5px;
      height: 100%;
      width: 100%;
      margin-top: 8px;
    }
    tr:last-of-type {
      font-family: Roboto;
      text-align: center;
      font-size: calc(2vw + 10px);
      top: 50%;
      position: absolute;
      width: 100%;
    }
  }
  .notFound {
    position: relative;

    &:hover {
      tr {
        background-color: initial;
        color: initial;
        cursor: auto;
      }
    }
    tr {
      margin-top: 20px;
      font-family: Roboto;
      text-align: center;
      font-size: calc(1vw + 10px);
      width: 100%;
      position: absolute;
    }
  }
  .pagination {
    right: 0;
    bottom: 0;
    position: absolute;
    div {
      p {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 19.92px;
        letter-spacing: 0.4px;
        text-align: left;
      }
      p:first-of-type {
        color: rgba(0, 0, 0, 0.6);
      }

      div {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 19.92px;
        letter-spacing: 0.4px;
        text-align: left;
      }
    }
  }
}

.infoBlockInDialog {
  height: 100%;
}
