.content {
  width: 100%;
  .welcom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: Roboto;
    font-size: 46px;
    font-weight: 400;
    color: rgba(79, 79, 79, 1);
    @media (max-width: 1400px) {
      font-size: 36px;
    }
  }
  .searchContent {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;

    @media (max-width: 800px) {
      display: grid;
      grid-template-columns: 1fr;
    }

    .searhContainer {
      height: 100%;
      margin-left: 32px;
      position: relative;

      @media (max-width: 650px) {
        margin-left: 12px;
      }

      .searhTitle {
        color: rgba(0, 0, 0, 0.87);
        font-family: Roboto;
        font-size: 48px;
        font-weight: 400;
        margin: 24px 24px 24px 0px;
        @media (max-width: 1400px) {
          font-size: calc(2vw + 20px);
        }
      }
    }
  }
}
.infoBlockInDialog {
  height: 100%;
}
