$font-family: Roboto, sans-serif;
$font-color: rgba(79, 79, 79, 1);
$title-color: rgba(0, 0, 0, 0.87);
$font-size-large: 48px;
$font-size-medium: 46px;
$font-weight-normal: 400;
$media-max-width-large: 1400px;
$media-max-width-medium: 800px;
$media-max-width-small: 650px;

.content {
  width: 100%;

  .welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: $font-family;
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
    color: $font-color;

    @media (max-width: $media-max-width-large) {
      font-size: 36px;
    }
  }

  .searchContent {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;

    @media (max-width: $media-max-width-medium) {
      grid-template-columns: 1fr;
    }

    .searhContainer {
      height: 100%;
      margin-left: 32px;
      position: relative;

      @media (max-width: $media-max-width-small) {
        margin-left: 12px;
      }

      .searhTitle {
        color: $title-color;
        font-family: $font-family;
        font-size: $font-size-large;
        font-weight: $font-weight-normal;
        margin: 24px 0;

        @media (max-width: $media-max-width-large) {
          font-size: calc(2vw + 20px);
        }
      }
    }
  }
}

.infoBlockInDialog {
  height: 100%;
}

.modal {
  font-family: $font-family;
}
